/* purple */
ul .tab-link {
	background-color: #4900a8;
	color: #BBB;
}

ul .tab-link:hover {
	background-color: #6206db;
}

.tab-link.current {
	background: #6206db;
}

body {
	background: rgb(153, 93, 243);
	background: -webkit-linear-gradient(45deg, rgba(153, 93, 243, 1) 0%, rgba(143, 77, 241, 1) 50%, rgba(131, 58, 240, 1) 51%, rgba(146, 82, 242, 1) 100%);
	color: #BBB;
}

#close-btn, #minimize-btn {
	color: #BBB;
}

#close-btn:hover, #minimize-btn:hover {
	color: #E81C4F;
}

#log-data {
	background-color: #100025;
	color: rgb(202, 202, 202);
}

#clear-log-btn {
	color: #BBB;
}

#clear-log-btn:hover {
	color: #E81C4F;
}

::-webkit-scrollbar-track {
	background: #4900a8;
}

::-webkit-scrollbar-thumb {
	background: #6206db;
}

#mods > div > ul > li:hover, #getmods > div > ul > li:hover {
	background: #6206db;
}

#mods > div > ul > li, #getmods > div > ul > li {
	background: #4900a8;
	color: #CCC;
}

#getmods input[type='text'] {
	border-color: #393C40;
	background: #222426;
	color: #BBB;
}

#settings td {
	background-color: #6206db;
	color: #BBB;
}

#modalbox > div {
	background: #393C40;
	border: 1px solid #888;
	color: #BBB;
}

#modalbox-body {
	background: #393C40;
}

#modalbox-close {
	color: #BBB;
}

#modalbox-close:hover {
	color: #E81C4F;
}

#modalbox button:not(#modalbox-close) {
	background-color: #393C40;
	color: white;
	border-color: #999999;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
}

#modalbox button:not(#modalbox-close):hover {
	border-color: #dddddd;
}

.warning {
	color: #CC0000;
}

#startproxy {
	background: #4900a8;
}

#startproxy:hover {
	background: #6206db;
}