ul .tab-link {
	background: #CCC;
	color: #000;
}

ul .tab-link:hover {
	background: #DDD;
}

.tab-link.current {
	background: #EEE;
}

body {
	background: #FFF;
	color: #000;
}

#close-btn, #minimize-btn, #clear-log-btn {
	color: #000;
}

#close-btn:hover, #minimize-btn:hover, #clear-log-btn:hover {
	color: #CC0000;
}

#log-data {
	border-color: #333;
	background: #DDD;
	color: #000;
}

::-webkit-scrollbar-track {
	background: #DDD;
}

::-webkit-scrollbar-thumb {
	background: #888;
}

#mods ::-webkit-scrollbar-track, #getmods ::-webkit-scrollbar-track {
	background: #FFF;
}

#mods > div > ul > li:hover, #getmods > div > ul > li:hover {
	background: #DDD;
}

#mods > div > ul > li, #getmods > div > ul > li {
	background: #CCC;
	color: #000;
}

#getmods input[type='text'] {
	border-color: #333;
	background: #DDD;
	color: #000;
}

#settings td {
	background: #DDD;
	color: #000;
}

#modalbox > div {
	background: #DDD;
	border: 1px solid #000;
	color: #000;
}

#modalbox-close {
	color: #000;
}

.warning {
	color: #CC0000;
}